.british-recomand-card{
    height: 10.5rem;
    width: 23rem;
    border: 2px solid transparent;
    margin-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
    
}

.inside-british-card{
    
    
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
   
    
}

.second-divsion{
    margin-left: 1rem;
}
.second-divsion span{
    font-size: 0.6rem;
}
.british-img{
    height: 5.5rem;
    width: 5rem;
    border-radius: 0.5rem;

}
.third-div-of-british-card{
    justify-content: space-between;
    padding: 0 1rem;
}
