.mainCard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 35%;
    padding-left: 50px;
    padding-block:20px ;
border-radius: 20px;
    border: 1px solid rgb(188, 183, 183);
    box-shadow: 7px 8px 8px 2px rgb(228, 227, 227);
}
.imgcard {
   margin-right:23px ;
   height: 82px;
}

.inputbox {
    margin-block: 12px;
    height: 50px;
    width: 90%;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid gray;
}
.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-block:5px;
}

.paybtn {
    padding: 13px;
    font-size: 22px;
    width: 90%;
    margin-top: 10px;
    border-radius: 8px;
    background-color: rgb(11, 201, 185);
    color: white;
    border: none;
    transition: 1s;

}
button:hover {

    box-shadow: 5px 5px 8px 2px gray;
 
}
.payHeading {
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 30%;
   margin-bottom: 10px;
   font-size: 38px;
}

@media screen and (max-width: 1000px) {
    .mainCard {
        padding: 70px;
    }
    .payHeading {
        font-size: 30px;
        margin-left: 10%;
    }
    input {
        width: 100%;
    }
    img {
        height: 60px;
    }
}