body,
* {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  background-color: #ffffff00;
  
  box-sizing: border-box;

}

.d-block {
  display: block;
}

.mx-auto {
  margin: 0 auto;
}
.my-auto {
  margin: auto 0;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.border-radius {
  border-radius: 8px;
}
.border {
  border: 2px solid #ededed;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-evenly {
  justify-content: space-evenly;
}


.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}


/* small common button  */

.btn-sm-rounded {
  padding: 8px 18px;
  border-radius: 30px;
  
}
.btn-green {
  color: #fff;
  background-color: #00754a;
  box-shadow: 0 4px 15px #a3a3a3ad;
  border: none;
  font-size: 12px;
  width: 110px;
  
}
.btn-green:hover{
  transition : all ease-in-out 0.5s;
  color: #fff;
  background-color: black;

}

/* text properties  */

.fw-bold {
  font-weight: bold;
}
.fw-lighter {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.cursor-pointer {
  cursor: pointer;
}

.text-decoration-non {
  text-decoration: none;
}

/* all same box shadows use for navbar and cards */
.shadows {
  box-shadow: #1c1c1c1c 5px 5px 4px;

}

/* all same card background color  */
.bg-card {
  background-color: #f9f9f9;;
}


/* green color theme - footer , card  */
.bg-green {
  background-color: #1e3932;
}

.p-10{
  padding:10px;

}

.p-8{
  padding:8px;
  
}
.p-5{
  padding:5px;
  
}
.mt-8{
  margin-top:8px
}
.mt-10{
  margin-top:10px
}
.mt-12{
  margin-top:12px
}
.mt-15{
  margin-top:15px
}
.mt-22{
  margin-top:22px
}
